html{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background: #F0F5F1;
}
body::-webkit-scrollbar {
    width: 0.4em;
}

body::-webkit-scrollbar-track {
    background: #bbbbbb;
}

body::-webkit-scrollbar-thumb {
    background: #F0F5F1;
}
.wrapper{
    width: 1100px;
    height: 6130px;
    margin: 0 auto;
}


.navbar{
    width:1100px;
    height: 75px;
    display: flex;
    font-style: row;
    gap: 200px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
}
.logo a{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    text-decoration: none;

}
.logo a img{
    width: 45px;
    height: 45px;
}
.logo a span{
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 180px;
    align-items: center;
}
.menu a{
    text-decoration: none;
    list-style: none;
    color: black;
}
.menu li{
     list-style: none;
    }
    .primary-nav, .secondary-nav{
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
    }
    #get-started a{
        background: #4EEC7D;
        width: 100px;
        height: 40px;
        display:flex;
        justify-content: center;
        align-items: center;
        color: #066c18;
        padding: 2px 8px;
        border-radius: 4px;
    }
    .active__link,
    .nav__link:hover {
        color: #4EEC7D;
        border-bottom: 1.8px solid #4EEC7D;
    }
.section-one{
    margin-top: 50px;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
}
.right-col-s1{
    width: 510px;
    height: 464px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0;

}
.left-col-s1{
    width: 550px;
    height: 550px;
}
.cont-1{
    display: flex;
    flex-direction: row;
    width: 510px;
    height: 84px;
}
.cont-1-2{
    background-image: url(../images/bg.jpg);
    background-size: 510px;
    background-repeat: no-repeat;
    width: 204px;
    height: 84px;
    background-position: -305px -212px;
    border-radius: 30px 30px 0px 0px;
} 
.cont-1-1{
    width: 306px;
    height: 84px;
    background-image: url(../images/bg.jpg);
    background-size: 510px;
    background-repeat: no-repeat;
    background-position: 0px -212px;

}
.cont-1-1-1{
    width: 306px;
    height: 84px;
    background: #F2F4F3;
    border-radius: 0px 0px 30px 0px;

}

.cont-2{
    position: relative;
    background-image: url(../images/bg.jpg);
    background-size: 510px;
    background-repeat: no-repeat;
    width: 510px;
    height: 296px;
    background-position: 0px -296px;
    border-radius: 30px 0px 30px 0px;

}
.cont-3{
    display: flex;
    flex-direction: row;
    width: 510px;
    height: 84px;
}
.cont-3-1{
    background-image: url(../images/bg.jpg);
    background-size: 510px;
    background-repeat: no-repeat;
    width: 426px;
    height: 84px;
    background-position: 0px -592px;
    border-radius:  0px 0px 30px 30px;

}
.cont-3-2{
    width: 84px;
    height: 84px;
    background-image: url(../images/bg.jpg);
    background-size: 510px;
    background-repeat: no-repeat;
    background-position: -426px -592px;

}
.cont-3-2-1{
    width: 84px;
    height: 84px;
    background: #F2F4F3;
    border-radius: 30px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.extented-ui-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 275px;
    position: absolute;
    top: -60px;
    right: 390px;

}
.card-1{
    width: 208px;
    height: 140px;
    background: #F9F7F8;
    box-shadow: 1px 2px 20px 1px rgba(0, 0, 0, 0.10);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-2{
    width: 250px;
    height: 120px;
    background: #F9F7F8;
    box-shadow: 1px 2px 20px 1px rgba(0, 0, 0, 0.10);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.button{
    margin-top: 15px;
    margin-left: 15px;
    width: 64px;
    height: 60px;
    border: 2.95px solid #4EEC7D;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.down-arrow{
    width: 45px;
    height: 45px;
}
.txt-container{
    width: 430px;
    display: flex;
    flex-direction: column;
    gap: 35px;

}
.left-col-s1 h1{
    font-size: 45px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}
.left-col-s1 p{
    font-size: 15px;
    font-weight: 400;
    margin: 0;

}
.btn-container{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.btn-container a{
    text-decoration: none;
    list-style: none;
}
.btn-1{
    background: #4EEC7D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 145px;
    height: 50px;
    padding: 2px   10px;
    border-radius: 4px;
    cursor: pointer;


    &:hover .right-arrow{
        transform: translateX(5px);
        transition-duration: .3s;
    
    }


}
.btn-1 a{
    font-size: 15px;
    color: #066c18;
    font-weight: 600;
}
a span{
    font-size: 15px;
    font-weight: 600;
    color: black;
}
.right-arrow{
 width: 18px;
 height: 18px;
}
.btn-bottom{
    background: #4EEC7D;
    width: 210px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.btn-bottom a{
    font-size: 14px;
    font-weight: 600;
    color: #066c18;
    text-decoration: none;
}
.txt-top{
    width: 210px;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
}
.location-icon{
    width: 24px;
    height: 24px;
}
.txt-icon{
    width: 210px;
    height: 35px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.kenya-flag,.tanzania-flag,.uganda-flag{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.kenya-wrapper,.tanzania-wrapper,.uganda-wrapper{
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.flag-container{
    font-size: 10px;
    font-weight: 600;
    width: 170px;
    height: 125px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.kenya-flag{
    background-image: url(../images/kenya.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.tanzania-flag{
    background-image: url(../images/tanzania.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.uganda-flag{
    background-image: url(../images/uganda.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.f-section{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.f-section h1{
    width: 475px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}

.f-section p{
    width: 475px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

.f-section a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    background: #D5F0E7;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 130px;
    height: 50px;
    padding: 2px   10px;
    border-radius: 4px;
}
.f-section-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100PX;
}
.f-one{
    width: 980px;
    padding: 20px;
    height: 500px;
    background: #D5F0E7;
    margin: 0 auto;
    border-radius: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.left-col{
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column; 
    margin-left: 10px;
    gap: 180px;
}
.left-col-2{
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column; 
    margin-left: 10px;
    gap: 100px;
}
.right-col-2{
    width: 480px;
    height: 500px;
    background: gray;
    border-radius: 30px;
    background-image: url(../images/egypt.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    position: relative;
}
.icon-section{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:15px;
}
.icon-section span{
    font-size: 14px;
    font-weight: 500;
    color: black;
}
.txt-section{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.txt-section h1{
    font-size: 35px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;

}.txt-section p{
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

.right-col{
    width: 480px;
    height: 500px;
    border-radius: 30px;
    background-image: url(../images/tz.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.explore-icon{
    width: 25px;
    height: 25px;
}
.extended-card{
    width: 180px;
    height: 130px;
    padding: 10px;
    background: #F9F7F8;
    box-shadow: 1px 2px 20px 1px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    position: relative;
    top: 24px;
    right: -24px;
    display: flex;
    flex-direction: column;
    gap: 58px;
    position: relative;
}
.flag-container-1, .flag-container-2, .flag-container-3{
    width: 35px;
    height: 35px;
    background: gray;
    border-radius: 50%;
}
.flag-container-1{
    background-image: url(../images/rwanda.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.flag-container-2{
    background-image: url(../images/za.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.flag-container-3{
    background-image: url(../images/eg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.trip-planner-1, .trip-planner-2, .trip-planner-3{
    width: 100%;
    height: 40px;
    font-size: 10px;
    font-weight: 600;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.trip-planner-2{
    width: 205px;
    height: 40px;
    padding: 4px 8px;
    border-radius: 8px;
    background: #F9F7F8;
    box-shadow: 0px 8px 70px 1px rgba(0, 0, 0, 0.30);
    position: absolute;
    top: 50px;
    right: -10px;
}
.f-two{
    width: 980px;
    padding: 20px;
    height: 500px;
    background: #cdcbcb82;
    margin: 0 auto;
    border-radius: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.extended-card-1{
    width: 240px;
    height: 130px;
    background: #F9F7F8;
    box-shadow: 1px 2px 20px 1px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    position: absolute;
    top: 20px;
    right: 110px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.txt-top-1{
    margin-left: 20px;
    width: 230px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
}
.txt-icon-1{
    margin-left: 24px;
    width: 230px;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.btn-bottom-1{
    background: #4EEC7D;
    width: 210px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.btn-bottom-1 a{
    font-size: 14px;
    font-weight: 600;
    color: #066c18;
    text-decoration: none;
}
.f-three{
    width: 980px;
    padding: 20px;
    height: 500px;
    background: #E8E4C1;
    margin: 0 auto;
    border-radius: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.icon-section-3{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}
.icon-section-3 span{
    font-size: 14px;
    font-weight: 500;
    color: black;
}
.txt-section-3{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.txt-section-3 h1{
    font-size: 35px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;

}.txt-section-3 p{
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}
.discover-icon{
    width: 30px;
    height: 30px;
}
.left-col-3{
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column; 
    margin-left: 10px;
    gap: 50px;
}
.right-col-3{
    width: 480px;
    height: 500px;
    border-radius: 30px;
    background-image: url(../images/discover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.extended-card-card-3{
    width: 210px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 320px;
    right: 228px
}
.card-ui-0{
    width: 100%;
    height: 120px;
    background: #F9F7F8;
    box-shadow: 1px 2px 20px 1px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.card-ui-2{
    width: 100%;
    height: 35px;
    background: #4EEC7D;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-ui-2 a{
    font-size: 14px;
    font-weight: 600;
    color: #066c18;
    text-decoration: none;
    
}

.norway-flag,.france-flag{
    width: 34px;
    height: 34px;
    background: gray;
    border-radius: 50%;
}
.container-wrap-1,.container-wrap-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    font-size: 12px;
    font-weight: 500;
}
.norway-flag{
    background-image: url(../images/norway.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 8px 70px 1px rgba(0, 0, 0, 0.30);
}
.france-flag{
    background-image: url(../images/france.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 8px 70px 1px rgba(0, 0, 0, 0.30);
}
.f-wrap{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.f-wrap p{
    font-size: 14px;
    font-weight: 600;
}
.pin-icon{
    width: 40px;
    height: 40px;
    position: absolute;
    transform: scaleX(-1);
    top: -14px;
    right: -14px;
}
.f-four{
    width: 1100px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    
}

.feature-01, .feature-02, .feature-03{
    width: 290px;
    height: 310px;
    padding: 20px;
    background: #F9F7F8;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
}
.f-four h1{
    width: 100%;
    height: 70px;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.f-four p{
    width: 100%;
    height: 150px;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}
.icon-f-01, .icon-f-02, .icon-f-03{
    width: 60px;
    height: 60px;
    background: #D5F0E7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ai-icon{
    width: 30px;
    height: 30px;
   
}
.txt-f-01, .txt-f-02, .txt-f-03{
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.trck-icon{
    width: 38px;
    height: 38px;
}
.rmd-icon{
    width: 30px;
    height: 30px;
}
.f-five{
    width: 1100px;
    height: 310px;
    overflow: hidden;
}
.arrow-01{
    width: 50px;
    height: 50px;
}

.slider-wrapper h1{
    display: block;
    margin: 0;
    font-size: 70px;
    font-weight: 400;  
}

.slider-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 30px;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
    
  }
   /* for Chrome */
   @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  
  }
.section-three{
    margin-top: 100px;
    width: 1100px;
    height: 642px;
    background: #E6EAE8;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.blog-wrapper{
    width: 1100px;
    height: 420px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.blog-post-wrapper{
    width: 330px;
    height: 400px;
}
.blog-fp-1, .blog-fp-2, .blog-fp-3{
    width: 330px;
    height: 200px;
    background: #F9F7F8;
    border-radius: 24px;
   

}
.blog-ft-1, .blog-ft-2, .blog-ft-3{
    width: 330px;
    height: 190px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
    margin-top: 10px;

    
}
.blog-ht-h1{
    margin-left: 25px;
    font-size: 40px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}
.blog-post-wrapper a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    background: #4EEC7D;
    color: #066c18;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 40px;
    border-radius: 4px;

}
.blog-wrapper h1{
    width: 100%;
    height: 100px;
    font-size: 22px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;

}

.blog-fp-1{
    background-image: url(../images/p1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.blog-fp-2{
    background-image: url(../images/p2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.blog-fp-3{
    background-image: url(../images/p3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-four{
    width: 100%;
    height: 1070px;
}
.pricing-txt-section{
    width: 100%;
    height: 260px;
}
.p-btn{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p-btn a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    background: #E6EAE8;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 130px;
    height: 50px;
    padding: 2px   10px;
    border-radius: 6px;
}
.pricing-txt-section h1{
    width: 100%;
    height: 70px;
    font-size: 32px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pricing-txt-section p{
    width: 100%;
    height: 150px;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}
.pricing-box-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.price-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}
.price__container{
    width: 416px;
    height: 648px;
    border: 1.8px solid #dbdbdb;
    border-radius: 36px;
}
/*
.price__container:hover{
    border: 1.8px solid #7cffa3;
    transition-duration: .3s;
}
*/
.clicked{
    border: 1.8px solid #4EEC7D !important;
}
.price-option{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 200px;
    height: 55px;
    padding: 0px 6px;
    border-radius: 30px;
    background: #e5e5e5;
}


.monthly-price,
.yearly-price{
    font-size: 14px;
    width: 95px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 30px;
    cursor: pointer;
}

.active{
    background: #161815;
    color: #fff;
    border-radius: 30px;
    transition-duration: .3s;
}

.starter,
.premier{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.upper-wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    justify-content: start;
}

.btn-wrapper{
    width: 340px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-wrapper a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    background: #4EEC7D;
    color: #066c18;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.liner{
    width: 334px;
    height: 1.5px;
    background: #dbdbdb;
}
.starter-label{
    width: 60px;
    height: 25px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 4px;
    background: #e5e5e5;
    font-weight: 500;
    color: #000;
}
.premier-label{
    width: 75px;
    height: 25px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 4px;
    background: #e5e5e5;
    font-weight: 500;
    color: #000;
}

.price-tag-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: start;
    align-items: center;
}
.price-tag,
.price-amount{
    font-size: 36px;
    font-weight: 500;
}

.price-duration{
    font-size: 22px;
    font-weight: 400;
}
.upper-wrap p{
    font-size: 14px;
    font-weight: 400;
    color: #000;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
li img{
    width: 25px;
    height: 25px;
}
li p{
    font-size: 14px;
    margin: 0;
}
.lower-wrap{
    display: flex;
    flex-direction: column;
    gap: 108px;
}
.feature-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.feature-list span{
 width: 100%;
 font-size: 15px;
 font-weight: 500;
}
